@model EF.DanhMucVatTu

<div class="card mb-4 m-4">
    <div class="card-header">
        <i class="fa-solid fa-circle-info me-1"></i>
        Thông tin @Html.DisplayFor(model => model.Ten_vat_tu)
    </div>
    <div class="card-body">
        <div class="mt-0 mb-5">
            <div class="row pt-1">
                <div class="col-6 mb-3">
                    <h6>
                        @Html.DisplayNameFor(model => model.Ma_vat_tu)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Ma_vat_tu)
                        <hr />
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Quy_chuan)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Quy_chuan)
                        <hr />
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Don_vi_tinh)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Don_vi_tinh)
                        <hr />
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Thoi_gian)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Thoi_gian)
                        <hr />
                    </p>
                </div>
                <div class="col-6 mb-3">
                    <h6>
                        @Html.DisplayNameFor(model => model.Ten_vat_tu)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Ten_vat_tu)
                        <hr />
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Chung_loai)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Chung_loai)
                        <hr />
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Ghi_chu)
                    </h6>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Ghi_chu)
                        <hr />
                    </p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="m-4 position-absolute bottom-0 end-0">
                    <button type="submit" value="Delete" class="btn btn-light mx-2" title="Xóa">
                        <i class="fa-solid fa-trash-can text-secondary"></i>
                    </button>
                    <a href="@Url.Action("VatTu", "DanhMucVatTu")" class="btn btn-light mx-2" role="button" style="text-decoration: none" title="Quay lại">
                        <i class="fa-solid fa-arrow-left text-secondary"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
