@model EF.DanhMucVatTu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục vật tư</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Quản lí kho</li>
            <li class="breadcrumb-item">Danh mục vật tư</li>
            <li class="breadcrumb-item active">Tạo mới</li>
        </ol>
    </div>
    <div class="card mb-4 m-4">
        <div class="card-header">
            <i class="fa-solid fa-circle-info me-1"></i>
            Thông tin vật tư
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "DanhMucVatTu", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row pt-1">
                    <div class="col-6 mb-3">

                        @*<div class="form-group mb-3">
                            @Html.LabelFor(model => model.Ma_vat_tu, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ma_vat_tu, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                @Html.ValidationMessageFor(model => model.Ma_vat_tu, "", new { @class = "text-danger rounded-1 w-100" })
                            </div>
                            <hr />
                        </div>*@

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Ten_vat_tu, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                            <div class="col mt-1">
                                @Html.EditorFor(model => model.Ten_vat_tu, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                @Html.ValidationMessageFor(model => model.Ten_vat_tu, "", new { @class = "text-danger rounded-1 w-100" })
                            </div>
                            <hr />
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Quy_chuan, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                            <div class="col mt-1">
                                @Html.DropDownListFor(model => model.Quy_chuan, ((IEnumerable<SelectListItem>)ViewBag.QuyChuanList), new { @class = "form-control border-0 rounded-sm w-100", @id = "ddlQuychuan" })
                                @Html.ValidationMessageFor(model => model.Quy_chuan, "", new { @class = "text-danger rounded-1 w-100" })
                            </div>
                            <hr />
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Ghi_chu, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                            <div class="col mt-1">
                                @Html.EditorFor(model => model.Ghi_chu, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                @Html.ValidationMessageFor(model => model.Ghi_chu, "", new { @class = "text-danger rounded-1 w-100" })
                            </div>
                            <hr />
                        </div>

                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Chung_loai, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                            <div class="col mt-1">
                                @Html.DropDownListFor(model => model.Chung_loai, ((IEnumerable<SelectListItem>)ViewBag.ChungLoaiList), new { @class = "form-control border-0 rounded-sm w-100", @id = "ddlChungloai" })
                                @Html.ValidationMessageFor(model => model.Chung_loai, "", new { @class = "text-danger rounded-1 w-100" })
                            </div>
                            <hr />
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Don_vi_tinh, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                            <div class="col mt-1">
                                @Html.DropDownListFor(model => model.Don_vi_tinh, ((IEnumerable<SelectListItem>)ViewBag.DonViList), new { @class = "form-control border-0 rounded-sm w-100", @id = "ddlDonvi" })
                                @Html.ValidationMessageFor(model => model.Don_vi_tinh, "", new { @class = "text-danger rounded-1 w-100" })
                            </div>
                            <hr />
                        </div>

                        <div class="form-group">
                            <div class="m-4 position-absolute bottom-0 end-0">
                                <button type="submit" class="btn btn-light mx-2" title="Luu">
                                    <i class="fa-solid fa-floppy-disk text-secondary"></i>
                                </button>
                                <a href="@Url.Action("VatTu", "DanhMucVatTu")" class="btn btn-light mx-2" role="button" style="text-decoration: none" title="Quay lại">
                                    <i class="fa-solid fa-arrow-left text-secondary"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="m-4 position-absolute bottom-0 end-0">
                        <button type="submit" class="btn btn-light mx-2" title="Luu">
                            <i class="fa-solid fa-floppy-disk text-secondary"></i>
                        </button>
                        <a href="@Url.Action("VatTu", "DanhMucVatTu")" class="btn btn-light mx-2" role="button" style="text-decoration: none" title="Quay lại">
                            <i class="fa-solid fa-arrow-left text-secondary"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</main>
