@model EF.DanhMucVatTu
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục vật tư</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Quản lí kho</li>
            <li class="breadcrumb-item">Danh mục vật tư</li>
            <li class="breadcrumb-item">@Html.DisplayFor(model => model.Ten_vat_tu)</li>
            <li class="breadcrumb-item active">Chỉnh sửa</li>
        </ol>
    </div>
    <div class="card mb-4 m-4">
        <div class="card-header">
            <i class="fa-solid fa-pen-to-square text-secondary"></i>
            Chỉnh sửa @Html.DisplayFor(model => model.Ten_vat_tu)
        </div>
        <div class="card-body">

            @using (Html.BeginForm("Edit", "DanhMucVatTu", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal mb-5">
                @Html.HiddenFor(model => model.ID_Vat_tu)
                @Html.Partial("_Form")
            </div>}
        </div>
    </div>
</main>