@model EF.NguyenVatLieu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Nguyên vật liệu</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Quản lí kho</li>
            <li class="breadcrumb-item">Tổng kho</li>
            <li class="breadcrumb-item">@Html.DisplayFor(model => model.Ten)</li>
            <li class="breadcrumb-item active">Chỉnh sửa</li>
        </ol>
    </div>
    <div class="card mb-4 m-4">
        <div class="card-header">
            <i class="fa-solid fa-pen-to-square text-secondary"></i>
            Chỉnh sửa @Html.DisplayFor(model => model.Ten)
        </div>
        <div class="card-body">

            @using (Html.BeginForm("Edit", "Kho", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal mb-5">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Ma_nguyen_vat_lieu)

                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                                <div class="col mt-1">
                                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger rounded-1 w-100" })
                                </div>
                                <hr />
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Gia_don_vi, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                                <div class="col mt-1">
                                    @Html.EditorFor(model => model.Gia_don_vi, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                    @Html.ValidationMessageFor(model => model.Gia_don_vi, "", new { @class = "text-danger rounded-1 w-100" })
                                </div>
                                <hr />
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Nha_san_xuat, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                                <div class="col mt-1">
                                    @Html.EditorFor(model => model.Nha_san_xuat, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                    @Html.ValidationMessageFor(model => model.Nha_san_xuat, "", new { @class = "text-danger rounded-1 w-100" })
                                </div>
                                <hr />
                            </div>

                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Phan_loai, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                                <div class="col mt-1">
                                    @*@Html.EditorFor(model => model.Phan_loai, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.Phan_loai, ((IEnumerable<SelectListItem>)ViewBag.PhanloaiList), new { @class = "form-control border-0 rounded-sm w-100", @id = "ddlPhanloai" })
                                    @Html.ValidationMessageFor(model => model.Phan_loai, "", new { @class = "text-danger rounded-1 w-100" })
                                </div>
                                <hr />
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Ton_kho, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                                <div class="col mt-1">
                                    @Html.EditorFor(model => model.Ton_kho, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                    @Html.ValidationMessageFor(model => model.Ton_kho, "", new { @class = "text-danger rounded-1 w-100" })
                                </div>
                                <hr />
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Mo_ta, htmlAttributes: new { @class = "control-label col-md-4 fw-bold" })
                                <div class="col mt-1">
                                    @Html.EditorFor(model => model.Mo_ta, new { htmlAttributes = new { @class = "form-control border-0 rounded-sm w-100" } })
                                    @Html.ValidationMessageFor(model => model.Mo_ta, "", new { @class = "text-danger rounded-1 w-100" })
                                </div>
                                <hr />
                            </div>

                            <div class="form-group">
                                <div class="m-4 position-absolute bottom-0 end-0">
                                    <button type="submit" class="btn btn-light mx-2" title="Luu">
                                        <i class="fa-solid fa-floppy-disk text-secondary"></i>
                                    </button>
                                    <a href="@Url.Action("TongKho", "Kho")" class="btn btn-light mx-2" role="button" style="text-decoration: none" title="Quay lại">
                                        <i class="fa-solid fa-arrow-left text-secondary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Ma_nguyen_vat_lieu)

                </div>
            }
        </div>
    </div>
</main>
