@model IEnumerable<EF.CuaHangVatTu>

@{
    ViewBag.Title = "CuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CuaHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ma_cua_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_cua_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghi_chu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thoi_gian)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_cua_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_cua_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghi_chu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thoi_gian)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Cua_hang }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Cua_hang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Cua_hang })
        </td>
    </tr>
}

</table>
