@model IEnumerable<EF.CuaHangVatTu>

@{
    ViewBag.Title = "CuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Cửa hàng vật tư</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Đối tác</li>
            <li class="breadcrumb-item active">Cửa hàng vật tư</li>
        </ol>
    </div>
    <div class="card mb-4 m-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh mục vật tư
            <a href="@Url.Action("Create", "CuaHangVatTu")" class="mx-3 position-absolute end-0 text-secondary" style="text-decoration: none" title="Tạo mới">
                <i class="fa-solid fa-square-plus text-secondary"></i> Tạo mới
            </a>
        </div>
        <div class="card-body" style="overflow-x: auto">
            <table id="cuahangvattu-datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ten_cua_hang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ghi_chu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Thoi_gian)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaChi.So)
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten_cua_hang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ghi_chu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thoi_gian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi.So)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "CuaHangVatTu", new { id = item.Ma_cua_hang })" class="mx-2" style="text-decoration: none" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square text-secondary"></i>
                            </a>
                            <a href="@Url.Action("Details", "CuaHangVatTu", new { id = item.Ma_cua_hang})" class="mx-2" style="text-decoration: none" title="Chi tiêt">
                                <i class="fa-solid fa-circle-info text-secondary"></i>
                            </a>
                            <a href="@Url.Action("Delete", "CuaHangVatTu", new { id = item.Ma_cua_hang })" class="mx-2" style="text-decoration: none" title="Xóa">
                                <i class="fa-solid fa-trash-can text-secondary"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</main>